.card {
    position: absolute;
    display: block;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 500px;
    height: 620px;
    background-color: #d8ffd8;
    border-color: #b3e8b3;
}

.login {
    padding: 40px;
    padding-top: 20px;
}

.title h1 {
    margin-bottom: 0px;
    padding-top: 7px;
    display: block;
    text-align: center;
}

a {
    color: #ff5c4b !important;
}

.title img {
    position: relative;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

body > a {
    position: absolute;
    bottom: 0px;
    left: 2px;
}

body {
    background-image: url("../backdrop.png");
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
}