// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    overflow-x: hidden;
}

.spoilers {
    background-color: #424242;
    border-radius: 10px;
    color: #424242 !important;

    li a {
        color: #424242 !important;
    }
}

.spoilers:hover {
    background-color: transparent !important;
    color: $blue !important;

    li a {
        color: $blue !important;
    }
}

/* Challenges */
.challenges {

    object {
        transform: rotate(180deg);
        position: absolute;
        width: 100vw;
        z-index: -1;
        margin-top: -1px;
    }

    .title {
        padding-top: 60px;
        height: 50vh;
        background-color: #f4f4ff;
        font-family: 'Raleway', sans-serif;
        font-size: 70px;
        width: 100%;
        display: block;
        text-align: center;
        font-weight: 1000;
    }

    .schedule {
        background-color: #2f3136;
        padding-top: 25vw;
        height: 125vh;

        h1, a, a:hover, p{
            color: white;
            text-align: center;
            display: block;
        }

        .card {
            background-color: rgba(0, 0, 0, 0.1);
            border: none;
            padding: 20px;
            margin-bottom: 10px;
        }

        svg {
            display: block;
            margin: auto;
        }
    }

    .event1 {
        padding-top: 25vw;

        h1, a, a:hover{
            text-align: center;
        }

        a[href] {
           color: #5555f2; 
        }

        img {
            width: 100%;
        }

        input[type=text] {
            min-width: 400px;
            width: calc(100% - 150px);
            background-color: rgba(0, 0, 0, 0.1);
            color: black;
            border: none;
            border-radius: 10px 0px 0px 10px;
            padding: 10px;
        }

        input[type=submit] {
            padding-left: 10px;
            width: 150px;
            padding: 5px;
            border-radius: 0px 10px 10px 0px;
        }
    }
    
    .event2 {
        background-color: #10004f;
        padding-top: 25vw;

        h1, a, a:hover{
            color: white;
            text-align: center;
        }

        a[href] {
           color: #5555f2; 
        }

        img {
            width: 100%;
        }

        /*Code Theme*/
        .code {
            background-color: #424242 !important;
            padding: 20px;
        }
        .code pre {
            color: white !important;
        }
        code .aqua {
            color: #4ec9b0 !important;
        }
        code .blue {
            color: #569cd6 !important;
        }
        code .l-blue {
            color: #9cdcfe !important;
        }
        code .yellow {
            color: #dcdcaa !important;
        }
        code .green {
            color: #6a9955 !important;
        }
        code .orange {
            color: #ce9178 !important;
        }
    }

    .event3 {
        padding-top: 25vw;

        h1, a, a:hover, b {
            text-align: center;
        }

        a[href] {
           color: #5555f2; 
        }

        img {
            width: 100%;
        }
    }

    .event4 {
        background-color: #018101;
        padding-top: 25vw;

        h1, a, a:hover, b{
            color: white;
            text-align: center;
        }

        a[href] {
           color: #5555f2; 
        }

        img {
            width: 100%;
        }
    }

    .event5 {
        padding-top: 25vw;

        h1, a, a:hover{
            color: black;
            text-align: center;
        }

        a[href] {
           color: #5555f2; 
        }

        img {
            width: 100%;
        }
    }

    .credit {
        background-color: #424242;
        padding-top: 25vw;
        padding-bottom: 5vh;
        color: white;

        a[href] {
           color: #5555f2; 
        }
    }

}

/* Mobile design */
@media only screen and (max-width: 1000px) {
    .challenges {
        .event1 {
            height: auto !important;

            svg {
                width: 50px !important;
                height: 50px !important;
            }
        }
        .event2 {
            padding-bottom: 5vh;
            height: auto !important;
            .col-xs-2 {
                display: none;
            }
        }
        .event3 {
            height: auto !important;
            .col-xs-2 {
                display: none;
            }
        }
    }

    .desktop-only {
        display: none !important;
    }
}